<ima>
  <exceptionManagement mode="off">
    <publisher
      mode="off"
      assembly="Ima.Common.ExceptionManagement"
      type="Ima.Common.ExceptionManagement.DefaultPublisher"
      logName=""
      applicationName=""/>
  </exceptionManagement>

  <ssoAuthentication
    name="authCookie"
    path="/prm"
    timeout="60"
    defaultReturnURL="~/"
    appDecryptionKey="asdfgfhf_3248"
    appValidationKey="89*983!@KFS234lkafasf"
    loginUrl="~/login.aspx"
    logoffUrl="~/logoff.aspx"
    ticketName="authTicket"
    validationKey="perkins"
    decryptionKey="perkedUp"
    active="true"
    maxLoginAttempts="3"
    accountLockoutMinutes="30"
    userProfileURL="~/authentication/AccountProfile.aspx"
    authenticatorDAL="Ima.Common.Authentication.Authenticators.SQLServerDAL.Authenticate,Ima.Common.Authentication"
    connString="Server=uitestvm.australiaeast.cloudapp.azure.com;Database=ui_test_auth;User Id=uitest;Password=vv7q5I9bg1UU;"
    />

    <siteSettings
    Log4NetConfigURL="C:\IMA\FSEE\PRM\Web\Logging.config"
    applicationType="Standard"
    configDirectory=".\"
    adminEmailAddress="michael@financialsimplicity.com.au"
    applicationName="Financial Simplicity"
    webSiteURL="http://nicklaptop/prm/"
    allowDynamicDomainCreation="True"
    enableDomainCaching="False"
    SQLConnString1="Server=uitestvm.australiaeast.cloudapp.azure.com;Database=ui_test_main;User Id=uitest;Password=vv7q5I9bg1UU;"
    SQLConnString2="Server=uitestvm.australiaeast.cloudapp.azure.com;Database=ui_test_history;User Id=uitest;Password=vv7q5I9bg1UU;"
    EmailDALConnString="Server=uitestvm.australiaeast.cloudapp.azure.com;Database=ui_test_main;User Id=uitest;Password=vv7q5I9bg1UU;"
    uploadDBConnString="Server=uitestvm.australiaeast.cloudapp.azure.com;Database=ui_test_upload;User Id=uitest;Password=vv7q5I9bg1UU;"
    WebDAL="Ima.SQLServerDAL"
    OptimiseLocally="true"
    MarketMappings="C:\IMA\FSEE\PRM\Agent\mappings.xml"
    AuthorisationType="Ima.Authorisation.PrmAuthoriser, Ima.Authorisation"
    AuthorisationDB="TestAuthorisationDB.xml"
    requireSSL="False"
    InterfaceIndex="1"
    SMTPServer="localhost"
    />

  <optimiserConfig enableAutoValidation="true" rebalanceLocally="false" testCaseDirectory="bin\FinancialSimplicity.RebalancingAPI.TestCases.15.3.36\content"  />
</ima>