<ima>
  <exceptionManagement mode="off">
    <publisher
      mode="off"
      assembly="Ima.Common.ExceptionManagement"
      type="Ima.Common.ExceptionManagement.DefaultPublisher"
      logName=""
      applicationName=""/>
  </exceptionManagement>

  <ssoAuthentication
    name="authCookie"
    path="/prm"
    timeout="60"
    defaultReturnURL="~/"
    appDecryptionKey="asdfgfhf_3248"
    appValidationKey="89*983!@KFS234lkafasf"
    loginUrl="~/login.aspx"
    logoffUrl="~/logoff.aspx"
    ticketName="authTicket"
    validationKey="perkins"
    decryptionKey="perkedUp"
    active="true"
    maxLoginAttempts="3"
    accountLockoutMinutes="30"
    userProfileURL="~/authentication/AccountProfile.aspx"
    authenticatorDAL="Ima.Common.Authentication.Authenticators.SQLServerDAL.Authenticate,Ima.Common.Authentication"
    connString="Data Source=db01;Integrated Security=SSPI;database=mhenstock_uitest_auth"
    />

  <siteSettings
    Log4NetConfigURL="C:\IMA\FSEE\PRM\Web\Logging.config"
    applicationType="Standard"
    configDirectory=".\"
    adminEmailAddress="michael@financialsimplicity.com.au"
    applicationName="Financial Simplicity"
    webSiteURL="http://nicklaptop/prm/"
    allowDynamicDomainCreation="True"
    enableDomainCaching="False"
    SQLConnString1="Data Source=db01;Integrated Security=SSPI;database=mhenstock_uitest_main"
    SQLConnString2="Data Source=db01;Integrated Security=SSPI;database=mhenstock_uitest_history"
    EmailDALConnString="Data Source=db01;Integrated Security=SSPI;database=mhenstock_uitest_main"
    uploadDBConnString="Data Source=db01;Integrated Security=SSPI;database=mhenstock_uitest_upload"
    WebDAL="Ima.SQLServerDAL"
    OptimiseLocally="true"
    MarketMappings="C:\IMA\FSEE\PRM\Agent\mappings.xml"
    AuthorisationType="Ima.Authorisation.PrmAuthoriser, Ima.Authorisation"
    AuthorisationDB="TestAuthorisationDB.xml"
    requireSSL="False"
    InterfaceIndex="1"
    SMTPServer="localhost"
    />

  <optimiserConfig enableAutoValidation="true" rebalanceLocally="false" testCaseDirectory="bin\FinancialSimplicity.RebalancingAPI.TestCases.15.3.36\content"  />
</ima>